@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  //primary
  --Dark-cyan: hsl(185, 75%, 39%);
  --very-dark-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  //neutral
  --Dark-gray: hsl(0, 0%, 59%);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  background: var(--Dark-cyan);
  min-height: 100vh;
}

p,
hr {
  color: var(--Dark-gray);
}
hr {
  opacity: 0.4;
}
main {
  min-height: 100vh;
}
.bg-top,
.bg-bottom {
  width: 400px;
  position: absolute;
  z-index: -1;
}

.bg-top {
  right: 300px;
  top: -200px;
}
.bg-bottom {
  bottom: 100px;
  left: 300px;
}

.container {
  background: #fff;
  width: 70%;
  height: 70%;
  margin: 90px auto;
  border-radius: 10px;

  .top img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .info {
    display: flex;
    justify-content: center;
    text-align: center;

    img {
      border-radius: 50%;
      border: 4px solid #fff;
      position: relative;
      top: -50px;
    }

    .user {
      width: 100%;
      .user-info {
        display: flex;
        justify-content: center;
        position: relative;
        top: -30px;
        h3 {
          margin-right: 10px;
        }
        p {
          font-size: 20px;
        }
      }
      .location {
        position: relative;
        top: -15px;
        font-size: 15px;
        margin-bottom: 10px;
      }

      .details {
        display: flex;
        justify-content: space-around;
        padding: 30px;

        p {
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  main {
    min-height: 100vh;
    .bg-img {
      width: 100%;
      height: 100%;
      .bg-top,
      .bg-bottom {
        width: 700px;
        position: absolute;
      }
      .bg-top {
        left: 0px;
      }
      .bg-bottom {
        left: 800px;
        top: 300px;
      }
    }

    .container {
      width: 30%;
      height: 30%;
    }
  }
} ;
